.header {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white);
    height: 3.5rem;

    @media (min-width: 900px) {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
    }

    &__logo {
    }

    &__tools {
      @media (max-width: 900px) {
        flex-grow: 1;
        margin: 0 2rem;
      }

      &__search-bar {
        @media (max-width: 576px) {
          display: none;
        }
      }

      &__search {
        text-align: end;
        font-size: 1.25rem;

        @media (min-width: 576px) {
          display: none;
        }
      }
    }

    &__avatar {
      @media (max-width: 810px) {
        display: none;
      }
      justify-self: flex-end;
    }

    &__menu {
      width: 1rem;
      font-size: 1.25rem;

      @media (min-width: 810px) {
        display: none;
      }
    }
  }
}

.search__mobile {
  max-height: 4rem;
  transition: max-height 0.25s ease-in;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  height: 100%;
  visibility: visible;
  opacity: 1;
  transition: width 0.3s;
  transition: height 0.3s;
  transition: visibility 0s linear 0s, opacity 0.3s;

  @media (min-width: 576px) {
    display: none;
  }

  &__bar {
    flex: 1 1;
  }

  &__content {
    width: 1rem;
    height: 100%;
    margin-left: 1rem;
    transition: all 0.5s;
    display: flex;
    opacity: 1;
    font-size: 1.25rem;
    color: var(--white);

    &.disabled {
      width: 0;
      height: 0;
      margin-left: 0;
      opacity: 0;
    }
  }
}

.hidden {
  max-height: 0;
  //transition: max-height 0.15s ease-out;
  overflow: hidden;
  background: #d5d5d5;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

#toggleMenu {
  transition: all 0.5s ease-in-out;

  &.actived {
    transform: rotate(-180deg);
  }
}
