<header class="header">
  <div class="header__container">
    <div class="header__container__logo">
      <a routerLink="/">
        <img [src]="logoImage" alt="Alura Dev" />
      </a>
    </div>
    <div class="header__container__tools">
      <app-search-bar
        [(value)]="valueSearch"
        class="header__container__tools__search-bar"
      ></app-search-bar>
      <div class="header__container__tools__search">
        <fa-icon
          [icon]="search ? faAngleUp : faSearch"
          (click)="toggleSearch()"
        ></fa-icon>
      </div>
    </div>

    <div class="header__container__avatar">
      <app-author author="Harry" [authorImag]="authorImage"></app-author>
    </div>
    <div
      class="header__container__menu"
      id="toggleMenu"
      [class.actived]="isOpen"
    >
      <div (click)="toggleMenu()" [class.hidden]="valueSearch && !mobile">
        <fa-icon
          [class.actived]="isOpen"
          clas="menu-icon"
          id="menu-icon"
          [icon]="faBars"
        ></fa-icon>
      </div>
      <div (click)="clearSearch()" [class.hidden]="!valueSearch || mobile">
        <fa-icon clas="search-icon" id="search-icon" [icon]="faTimes"></fa-icon>
      </div>
    </div>
  </div>
  <div class="search__mobile" [class.hidden]="!search">
    <app-search-bar
      class="search__mobile__bar"
      [(value)]="valueSearch"
    ></app-search-bar>
    <div
      class="search__mobile__content"
      [class.disabled]="valueSearch === ''"
      (click)="clearSearch()"
    >
      <fa-icon class="search__mobile__content__icon" [icon]="faTimes"></fa-icon>
    </div>
  </div>
</header>
<div
  class="menu__overlay"
  [ngClass]="isOpen ? 'open' : 'close'"
  (click)="toggleMenu()"
>
  <div class="menu__overlay__toggle" ngClass>
    <fa-icon
      class="menu__overlay__toggle__close"
      [class.actived]="isOpen"
      [icon]="faTimes"
    ></fa-icon>
  </div>
  <nav class="menu__overlay__nav" (click)="stopPropagation($event)">
    <app-menu class="menu__overlay__nav__navigation"></app-menu>
    <hr class="menu__overlay__nav__separator" />
    <app-author
      author="Harry"
      [authorImag]="authorImage"
      class="menu__overlay__nav__user"
    ></app-author>
  </nav>
</div>
