<form class="container">
  <div class="container__border" [style.background]="color">
    <div class="container__border__console">
      <app-dots-container
        class="container__border__console__dots"
      ></app-dots-container>
      <div class="container__border__console__content">
        <div
          *ngIf="!highlighted"
          class="container__border__console__content__edit"
        >
          <textarea
            class="container__border__console__content__edit__code"
            [value]="code"
          ></textarea>
        </div>
        <pre class="container__border__console__content__code">
              <code
                *ngIf="highlighted"
                (highlighted)="onHighlight($event)"
                [highlight]="code" [lineNumbers]="true"
                style="white-space: pre-wrap"
                ></code>
            </pre>
      </div>
    </div>
  </div>
</form>
